!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
    %title Loggy
    %h1
      %center マイページ

    %h3
      %ol
        %li
          %a{:href => "posts/new"}出勤登録
        %li
          %a{:href=> "posts"}出勤確認・編集

  %body
