<div>
  <form action="/test" method="post">
    <h3>
      Put your information
    </h3>
    <div>
    <label>Date</label><br>
      <input placeholder="Data" type="date" id="date">
    </div>
    <div>
      <label>Arrival Time</label><br>
      <input placeholder="Arrival Time" type="time" id="arrival">
    </div>
    <div>
      <label>Departure Time</label><br>
      <input placeholder="Departure Time" type="time" id="departure">
    </div>
    <div>
      <input type="submit">
    </div>
  </form>
</div>